:root {
  --bg: #1d2033;
  --darkbg: #02001b;
  --highlight: #70d4ff;
  --text: #ffffff;
}

body {
  margin: 0;
  font-family: "Arial";
  background-image: linear-gradient(to bottom, var(--bg), var(--darkbg));
}

.section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
}

.title {
  color: var(--text);
  padding-bottom: 70px;
  padding-top: 70px;
}
